<% if new_object.persisted? %>
	<% id = 'edit_object'%>
<% else %>
	<% id = 'new_object'%>
<% end %>

<%= simple_form_for( new_object, :url => url,
      :method => :post , 
      :html => {:class => " form-horizontal prevent_double_submit ajax-form   no_content_form",
        :id => "#{id}"}) do |f| %>
 
   
	 <!-- select the template -->
	
	<%= f.input :template_sales_item_id  , :input_html => {:class => "input-xlarge "}, 
  			:label => "Dasar Sales Item" %>

		<%= f.input :is_pending_pricing, :label =>"Pending Pricing?", 
					:hint => "Tunda Pembuatan Harga?" %>
	<hr />
		<%= f.input :is_pre_production, :label =>"Pattern?", :hint => "Termasuk jasa pembuatan pattern?" %>
		<%= f.input :pre_production_price, :label =>"Biaya Pola",
		   	:hint => "Dalam rupiah. Langsung isi tanpa koma. <br />"+ 
							"Contoh untuk isi sembilan puluh lima ribu:"  + 
							"<b>95000</b>" 		%>
							
		<br />
		<%= f.input :is_production, :label =>"Casting?", :hint => "Termasuk jasa casting?"  %>
		<%= f.input :quantity_for_production, :label =>"Jumlah Cast"   %>
		<%= f.input :production_price, :label =>"Biaya Cetak",
		   	:hint => "Dalam rupiah. Langsung isi tanpa koma. <br />"+ 
							"Contoh untuk isi sembilan puluh lima ribu:"  + 
							"<b>95000</b>" 		%>
		<%= f.input :is_pricing_by_weight, :label =>"Biaya Cetak Berdasarkan Berat?", 
			:hint => "Centang jika biaya berdasarkan berat. Jika berdasarkan quantity, jangan di centang"  %>					
		<br />
		
		<%= f.input :is_post_production, :label =>"Machining?", :hint => "Termasuk jasa bubut?"  %>
		<%= f.input :quantity_for_post_production, :label =>"Jumlah Bubut"   %>
		<%= f.input :post_production_price, :label =>"Biaya Bubut",
		   	:hint => "Dalam rupiah. Langsung isi tanpa koma. <br />"+ 
							"Contoh untuk isi sembilan puluh lima ribu:"  + 
							"<b>95000</b>" 		%>
	
	<hr />
		<%= f.input :is_delivered, :label =>"Delivery", :hint => "Centang jika diantar"  %>
		<%= f.input :delivery_address, :label =>"Alamat Delivery" ,
		  	:input_html => {:class => "input-xlarge ", :rows => '5'}%>
	
		
	
	

  <div class="form-actions">
	
		<% if new_object.persisted? %>
			<%= f.button :submit , :class => "btn btn-primary", :value=> "Update Sales Item" %>
		<% else %>
			<%= f.button :submit , :class => "btn btn-primary", :value=> "Create Sales Item" %>
		<% end %>
		
  </div>
<% end %>




<script type="text/javascript">
$(document).ready(function() {
	
	 $("#sales_item_template_sales_item_id").tokenInput('<%=	search_template_sales_item_url %>', {
		prePopulate:   	[
				<% if not new_object.template_sales_item_id.nil? %> 
				{id: <%= new_object.template_sales_item_id %>, 
						code: '<%= new_object.template_sales_item.code %>'}
				<% end %>
			],
		zindex: 9999,
		propertyToSearch: "code",
		tokenLimit: 1
	});
});
</script>
