<tr id="entry-<%= object.id %>">
	<td>
		<%= object.sales_item.code %>
	</td>
	<td>
		<%= object.quantity %>
	</td>
	 
  
	
	
	<% if not parent.is_confirmed? %>
		<td>
			<%= link_to delete_item_receival_entry_url( object) , :class =>"delete_entry", 
				:style => "cursor:pointer; text-decoration:none;" do %>
				<i class='icon-remove'></i>Delete
			<% end %> 
		</td>

		<td>
			<%= link_to edit_item_receival_item_receival_entry_url(parent, object), 
				:class =>"edit_entry modal-toggler", :style => "cursor:pointer; text-decoration:none;" do %>
				<i class='icon-edit'></i>Edit
			<% end %>
		</td>
	<% else %>
		<td colspan='2'>
			NA
		</td>
	<% end %>
</tr>