 
<tr id="entry-<%= object.id %>">
	<td>
		<%= object.invoice.code %>
	</td>
 
	
	<td>
		<%= print_money( object.amount_paid)  %>
	</td>
	
	<td>
		<%= print_money( object.invoice.confirmed_pending_payment)  %>
	</td>
	 
	 
	<% if not defined?(details)  %>
		<% details = 0 %>
	<% end %>
	
		<td>
			<%= link_to delete_invoice_payment_url(:details => details), :class =>"delete_entry", 
				:style => "cursor:pointer; text-decoration:none;" do %>
				<i class='icon-remove'></i>Delete
			<% end %> 
		</td>

		<td>
			<%= link_to edit_payment_invoice_payment_url(parent, object,:details => details), 
				:class =>"edit_entry modal-toggler", :style => "cursor:pointer; text-decoration:none;" do %>
				<i class='icon-edit'></i>Edit
			<% end %>
		</td>
	
</tr>