<%= render :partial => "layouts/masthead" ,:locals => {
	:title => "Pre Production Progress",
	:description => "Create New Pre Production Progress"
}%>

<div id="content">

	<div class="container">
		
		
		<div class="row">
			
			<div class="span8">
				<div id="history_wrapper" style="display:none;">
				</div>
			 
				<div id="history_dummy">
					please select the sales item to be managed
				</div>
				
			</div> <!-- /.span8 -->
			
			
			<div class="span4">
				
						 

					<div id="myTabContent" class="tab-content" style='overflow:visible;'>
						<div class="tab-pane fade active in" id="tab1"> 
							<%= simple_form_for :template_sales_item, { url: generate_pre_production_result_url, 
										:html => {:id=>"add_product_trigger_form" } } do |f| %>
							  <%= f.input :search_record_id , :label => "Sales Item Code", :input_html => {
									:id => 'search_record_id'
								}%>
								<%=	 hidden_field_tag 'selected_id', '' %>  
								<%= hidden_field_tag 'search_url', "#{search_template_sales_item_url}"  %>
							<% end %>

							
							<div id='summary_wrapper'> 
							</div>
						</div> 
					</div>
						
				
			</div> <!-- /.span4 -->
			
		</div> <!-- /.row -->
		
	
	</div> <!-- /.container -->

</div> <!-- /#content -->


<div class="modal fade hide" id="editEntry">
  <div class="modal-header">
    <h3>Edit Pre  Production Progress</h3>
  </div>
  <div class="modal-body"> 
	<!-- content -->
  </div>
  <div class="modal-footer">
    <!-- <a href="javascript:;" class="btn" data-dismiss="modal">Close</a> -->
		<a  class="btn modal_closer"  >Close</a>
  </div>
</div>

<div class="modal fade hide" id="newEntry">
  <div class="modal-header">
    <h3>New  Pre Production Progress</h3>
  </div>
  <div class="modal-body"> 
	<!-- content -->
  </div>
  <div class="modal-footer">
    <!-- <a href="javascript:;" class="btn" data-dismiss="modal">Close</a> -->
		<a  class="btn modal_closer"  >Close</a>
  </div>
</div>


<div class="hidden" id="delete_entry_form_wrapper">
  <%= form_for SalesOrder.new, :url =>delete_production_history_url , :method => :post   do |f| %>
    <%= hidden_field_tag 'object_to_destroy_id' , ''  %> 
  <% end %>
</div>

<div class="hidden" id="confirm_entry">
  <%= form_for SalesOrder.new, :url => delete_production_history_url , :method => :post   do |f| %>
  <% end %>
</div>


<%# content_for :additional_js do %> 
	<%#= javascript_include_tag "common_order/entry_creation"  	%>
<%# end %>

<% content_for :additional_js do %> 
  <%= javascript_include_tag "common_order/entry_creation","jquery.tokeninput"  %> 

	<script type="text/javascript"> 
		$(document).ready(function() {
			// sales_item_search_sales_item_id
				var $search_box = $("#search_record_id");
				var $form = $search_box.parents("form"); 
				var search_url = $("#search_url").val(); 
		    $search_box.tokenInput( search_url , {
						propertyToSearch: "code",
						tokenLimit: 1, 
						resultsFormatter: function(item){ 
							var string =  "<li>" + 
										"<div style='display: inline-block; padding-left: 10px;'>"+ 
											"<div class='full_name'>" + item.code + "</div>"+
											"<div class='email'>" + item.customer_name + "</div>"+
										"</div>"+  "</li>" ;
										
							return string; 
						},
						
						tokenFormatter: function(item) { 
							
							var string =  "<li>" + 
										"<div style='display: inline-block; padding-left: 10px;'>"+ 
											"<div class='full_name'>" + item.code + "</div>"+
											"<div class='email'>" + item.customer_name + "</div>"+
										"</div>"+  "</li>" ;
										
							return string;
						},
						
		        onAdd: function (item) {
								$form.spin("large", "black"); 
								$("#selected_id").attr( 'value',  item['id'] );

								$.ajax({
								      url: $form.attr("action"),
								      type: "POST",
								      data: $form.serialize(),
								      dataType: 'script',
								      success: function(response){ 

								      }
								    }); 
		        } ,
						onDelete: function(item){
							$("#summary").remove();
							$("#history").remove();
							
							$("#history_wrapper").hide();
							$("#history_dummy").show();
						}
		    }); 
		
				 
		});
  </script>
<% end %>

<% content_for :additional_css do %> 
  <%= stylesheet_link_tag "token-input", "token-input-facebook" 	%> 
<% end %>

