<% if new_object.persisted? %>
	<% id = 'edit_object'%>
	<%# method = :post %>
<% else %>
	<% id = 'new_object'%>
	<%# method = :post %>
<% end %>

<%= simple_form_for( new_object, :url => url,
      :method => :post , 
      :html => {:class => " prevent_double_submit ajax-form   no_content_form",
        :id => "#{id}"}) do |f| %>

	 


  <%= f.input :ok_quantity  , :input_html => {:class => "input-xlarge "}, 
  			:label => "Jumlah OK" %>
	<%= f.input :ok_weight  , :input_html => {:class => "input-xlarge "}, 
  			:label => "Berat OK",
 				:hint => "Dalam kilogram. Contoh: <b>15.5</b> kg" %>
 
 
<hr />
	<%= f.input :broken_quantity  , :input_html => {:class => "input-xlarge "}, 
  			:label => "Jumlah Rusak" %>

	<%= f.input :broken_weight  , :input_html => {:class => "input-xlarge "}, 
	 			:label => "Berat Rusak",
 				:hint => "Dalam kilogram. Contoh: <b>15.5</b> kg" %>
 
<hr />
	<%= f.input :started_at  , :input_html => {:class => "input-xlarge datepicker", 
																							:value => "#{print_date_input(new_object.started_at)}"}, 
  			:label => "Tanggal Mulai", 
 				:hint => "format: <b>dd</b>/<b>mm</b>/<b>yyyy</b>. <br />" + 
								"Contoh untuk 7 july 2003: 7/7/2003 <br />" + 
								"Contoh untuk 13 October 2003: 13/10/2003",
				:as => :string				%>
	<%= f.input :finished_at  , :input_html => {:class => "input-xlarge datepicker", 
																							:value => "#{print_date_input(new_object.finished_at)}"}, 
  			:label => "Tanggal Selesai",
				:hint => "format: <b>dd</b>/<b>mm</b>/<b>yyyy</b>. <br />" + 
								"Contoh untuk 7 july 2003: 7/7/2003 <br />" + 
								"Contoh untuk 13 October 2003: 13/10/2003",
				:as => :string				 %>

  <div class="form-actions">
	
		<% if new_object.persisted? %>
			<%= f.button :submit , :class => "btn btn-primary", :value=> "Update  Production Progress" %>
		<% else %>
			<%= f.button :submit , :class => "btn btn-primary", :value=> "Create  Production Progress" %>
		<% end %>
		
  </div>
<% end %>

 