<div id='details'>
	<table class="table table-bordered table-striped table-highlight" >
		<thead>
			<tr>
				<th>Code</th>
				<th>Customer</th>
				<th>Tanggal Terima</th>  
				<th>Status</th>  
				<th>Total Garansi Retur Item</th>  
				<th colspan='2'>Action</th>
			</tr>
		</thead>
		<tbody> 
			
			<tr id="parent_entry-<%= object.id %>">
				<td>
					<%= object.code %>
				</td>
				<td>
					<%= "#{object.customer.name}" %>
				</td>

				<td>
					<%= print_date(object.receival_date )%>
				</td>

			 	<td>
					<% if object.is_confirmed == true %>
						<span class="label label-primary">confirmed</span>
					<% else %>
						<span class="label label-tertiary">Pending</span>
					<% end %>
				</td>

				<td>
					<%= object.guarantee_return_entries.count %>
				</td>


					<td>
						<%= link_to delete_guarantee_return_url(:details => details), :class =>"delete_entry", :style => "cursor:pointer; text-decoration:none;" do %>
							<i class='icon-remove'></i>Delete
						<% end %> 
					</td>

					<td>
						<%= link_to edit_guarantee_return_url(object,:details => details), 
							:class =>"edit_entry modal-toggler", :style => "cursor:pointer; text-decoration:none;" do %>
							<i class='icon-edit'></i>Edit
						<% end %>
					</td> 

			</tr>
		</tbody>
	</table>
	
	<hr />
	
	
	<%= render :partial => 'guarantee_return_entries/guarantee_return/item_list', :locals => {
		:objects => children, 
		:parent => parent,
		:details => 1 
	}%>
</div>
