 
<tr id="entry-<%= object.id %>">
	<td>
		<%= link_to "#{object.code}" , new_guarantee_return_guarantee_return_entry_url( object)%>
	</td>
	<td>
		<%= "#{object.customer.name}" %>
	</td>
	
	<td>
		<%= print_date(object.receival_date )%>
	</td>
	 
 	<td>
		<% if object.is_confirmed == true %>
			<span class="label label-primary">confirmed</span>
		<% else %>
			<span class="label label-tertiary">Pending</span>
		<% end %>
	</td>
	
	<td>
		<%= object.guarantee_return_entries.count %>
	</td>
	
	
	<% if not object.is_confirmed? %>
		<td>
			<%= link_to delete_guarantee_return_url, :class =>"delete_entry", :style => "cursor:pointer; text-decoration:none;" do %>
				<i class='icon-remove'></i>Delete
			<% end %> 
		</td>

		<td>
			<%= link_to edit_guarantee_return_url(object), 
				:class =>"edit_entry modal-toggler", :style => "cursor:pointer; text-decoration:none;" do %>
				<i class='icon-edit'></i>Edit
			<% end %>
		</td>
	<% else %>
		<td>
		CONFIRMED
		</td>
	<% end %>
	
</tr>