
<% customer = object.sales_order.customer %>
<tr id="entry-<%= object.id %>"> 
	<td>
		<%= "#{object.code}" %>
		<hr />
		Dipesan: <b><%= object.quantity %></b>
		
	</td>
	
	<td>
		<%= customer.name %>
	</td>
	
	<td>
		 <%= object.pending_production %> 
		
		
		
		<hr />
		Total Pengerjaan: 
		<b>
			<%= link_to object.number_of_production, production_details_url(object) %>
		</b>
		<hr />
		Sukses: <b><%= object.number_of_production - object.number_of_failed_production %></b>
		<hr />
		Gagal: <b><%= object.number_of_failed_production %></b>
	</td>
	
	<td>
		<%= object.pending_post_production %>
		
		<% if object.only_post_production? %>
			<hr />
			Total Penerimaan: 
			<b>
				<%=  object.item_receival_entries.where(:is_confirmed => true ).sum('quantity') %>
			</b>
		<% end %>
		
		<hr />
		Total Pengerjaan: 
		<b>
			<%= link_to object.number_of_post_production, post_production_details_url(object) %>
		</b>
 
		<hr />
		Sukses: <b><%= object.number_of_post_production - object.number_of_failed_post_production %></b>
		<hr />
		Gagal: <b><%= object.number_of_failed_post_production %></b>
	</td>
	
	<td>
		<%= object.ready %>
	</td>
	
	<td>
		Disetujui: <b><%= object.fulfilled_order %></b>
		
		<hr />
		Total Pengiriman: 
		<b>
			<%= link_to object.number_of_delivery , delivery_entry_details_url(object) %>
		</b>
		
		<hr />
		Masih Di Perjalanan: <b> <%= object.on_delivery %> </b>
		
		
		<hr />
		Retur: <b><%= object.number_of_sales_return %></b>
		<hr />
		Hilang: <b><%= object.number_of_delivery_lost %></b>
		
	</td>
	 
 
</tr>







           


               
          
                 
             
            
        
   