 
<tr id="entry-<%= object.id %>"> 
	<td>
		<%= print_date(object.start_date) %>
		-
		<%= print_date(object.finish_date) %>
	</td>
	 
	
	<td> 
		<%= object.ok_quantity %>
	</td>
	 
	
	<td> 
		<%= object.broken_quantity %>
	</td>
 
	
</tr>