 
<tr id="entry-<%= object.id %>"> 
	<td>
		<%= "#{object.name}" %>
	</td>
	
	<td>
		<%= "#{object.email}" %>
	</td>
	
	<td>
		<%= "#{object.role.name }" %>
	</td>
	 
	
	<td>
		<%= link_to root_url, :class =>"delete_entry", :style => "cursor:pointer; text-decoration:none;" do %>
			<i class='icon-remove'></i>Delete
		<% end %> 
	</td>

	<td>
		<%= link_to edit_app_user_url(object), 
			:class =>"edit_entry modal-toggler", :style => "cursor:pointer; text-decoration:none;" do %>
			<i class='icon-edit'></i>Edit
		<% end %>
	</td>
	
</tr>