<% if new_object.persisted? %>
	<% id = 'edit_object'%>
<% else %>
	<% id = 'new_object'%>
<% end %>

<%= simple_form_for( new_object, :url => url,
      :method => :post , 
      :html => {:class => " prevent_double_submit ajax-form   no_content_form",
        :id => "#{id}"}) do |f| %>

	 
				<%= f.input :current_password , 
          :input_html => {:class => "input-xlarge span5", :id =>"weekly_principal"}, 
          :hint => "Masukkan Password yang sedang aktif", :label => "Current Password" %>

        <%= f.input :password, :input_html => {:class => "input-xlarge span5" },
        	:hint => "Masukkan Password baru", :label => "New Password"%>

        <%= f.input :password_confirmation, :input_html => { :class => "input-xlarge span5" },
        :hint => "Konfirmasi Password Baru", :label => "New Password confirmation"%>

  <div class="form-actions">
	
		<% if new_object.persisted? %>
			<%= f.button :submit , :class => "btn btn-primary", :value=> "Ganti Password" %>
		<% else %>
			<%= f.button :submit , :class => "btn btn-primary", :value=> "Ganti Password" %>
		<% end %>
		
  </div>
<% end %>


 