<div id='details'>
	<table class="table table-bordered table-striped table-highlight" id='tableview'>
		<thead>
			<tr>
				<th>Code</th>
				<th>Customer</th>
				<th>Tanggal Pembayaran</th>  
				<th>Status Konfirmasi</th>  
				<th>Total Pembayaran</th>  
					<th colspan='2'>Action</th>
			</tr>
		</thead>
		<tbody> 
			<% object = parent %>
			<tr id="parent_entry-<%= object.id %>">
				<td>
					<%=  object.code  %>
				</td>
				<td>
					<%= "#{object.customer.name}" %>
				</td>

				<td>
					<%= print_date(	object.created_at )%>
				</td>

			 	<td>
					<% if object.is_confirmed == true %>
						<span class="label label-primary">confirmed</span>
					<% else %>
						<span class="label label-tertiary">Pending</span>
					<% end %>
					<hr />
					Methode Pembayaran: 
					<% if object.payment_method == PAYMENT_METHOD[:bank_transfer] %>
						Transfer
					<% elsif object.payment_method == PAYMENT_METHOD[:cash] %>
						Cash
					<% elsif object.payment_method == PAYMENT_METHOD[:giro] %>
						Giro 
					<% end %>

					<hr />
					 Akun Kas Pembayaran: 
					<%= object.cash_account.name %>
				</td>

				<td>
					Cash Pembayaran: <%= print_money( object.amount_paid )  %>
					<hr />
					Penggunaan DP : <%= print_money( object.downpayment_usage_amount )%>
					<hr />
					Penambahan DP : <%= print_money( object.downpayment_addition_amount )%>
				</td>

 
					<td>
						<%= link_to delete_payment_url( :details => 1 ), :class =>"delete_entry", 
							:style => "cursor:pointer; text-decoration:none;" do %>
							<i class='icon-remove'></i>Delete
						<% end %> 
					</td>

					<td>
						<%= link_to edit_payment_url(object, :details => 1 ), 
							:class =>"edit_entry modal-toggler", 
							:style => "cursor:pointer; text-decoration:none;" do %>
							<i class='icon-edit'></i>Edit
						<% end %>
					</td> 

			</tr>
		</tbody>
	</table>
	
	<hr />
	
	
	<%= render :partial => 'invoice_payments/payment/item_list', :locals => {
		:objects => children, 
		:parent => parent,
		:details => 1 
	}%>
</div>
