 
<tr id="entry-<%= object.id %>">
	<td>
		<%= link_to "#{object.code}" ,   new_payment_invoice_payment_url(object) %>
	</td>
	<td>
		<%= "#{object.customer.name}" %>
	</td>
	
	<td>
		<%= print_date(	object.created_at )%>
	</td>
	 
 	<td>
		<% if object.is_confirmed == true %>
			<span class="label label-primary">confirmed</span>
		<% else %>
			<span class="label label-tertiary">Pending</span>
		<% end %>
		<hr />
		Methode Pembayaran: 
		<% if object.payment_method == PAYMENT_METHOD[:bank_transfer] %>
			Transfer
		<% elsif object.payment_method == PAYMENT_METHOD[:cash] %>
			Cash
		<% elsif object.payment_method == PAYMENT_METHOD[:giro] %>
			Giro 
		<% end %>
		
		<hr />
		 Akun Kas Pembayaran: 
		<%= object.cash_account.name %>
	</td>
	
	<td>
		Cash Pembayaran: <%= print_money( object.amount_paid )  %>
		<hr />
		Penggunaan DP : <%= print_money( object.downpayment_usage_amount )%>
		<hr />
		Penambahan DP : <%= print_money( object.downpayment_addition_amount )%>
	</td>
	
	
	<% if not object.is_confirmed? %>
		<td>
			<%= link_to delete_payment_url, :class =>"delete_entry", :style => "cursor:pointer; text-decoration:none;" do %>
				<i class='icon-remove'></i>Delete
			<% end %> 
		</td>

		<td>
			<%= link_to edit_payment_url(object), 
				:class =>"edit_entry modal-toggler", :style => "cursor:pointer; text-decoration:none;" do %>
				<i class='icon-edit'></i>Edit
			<% end %>
		</td>
	<% else %>
		<td colspan='2'>
			NA
		</td>
	<% end %>
	
</tr>