 
<tr id="entry-<%= object.id %>"> 
	
	<td>
		<% if object.case == CASH_ACCOUNT_CASE[:bank][:value]%>
			Bank 
		<% elsif object.case == CASH_ACCOUNT_CASE[:cash][:value] %>
			Cash 
		<% end %>
	</td>
	
	
	<td>
		<%= "#{object.name}" %> <hr />
		<%= object.description  %>
	</td>
	 
	
	<td>
		<%= link_to delete_cash_account_url, :class =>"delete_entry", :style => "cursor:pointer; text-decoration:none;" do %>
			<i class='icon-remove'></i>Delete
		<% end %> 
	</td>

	<td>
		<%= link_to edit_material_url(object), 
			:class =>"edit_entry modal-toggler", :style => "cursor:pointer; text-decoration:none;" do %>
			<i class='icon-edit'></i>Edit
		<% end %>
	</td>
	
</tr>