<tr id="entry-<%= object.id %>">
	<td>
		<%= object.sales_item.code %>
	</td>
	<td>
		<%= object.sales_item.name %>
	</td>
	
	<td>
		
		<% if object.entry_case == DELIVERY_ENTRY_CASE[:guarantee_return] %>
      [Hasil Retur Garansi]
    <% elsif object.entry_case == DELIVERY_ENTRY_CASE[:bad_source_fail_post_production] %>
      [Casting Keropos]
    <% elsif object.entry_case == DELIVERY_ENTRY_CASE[:technical_failure_post_production] %> 
      [Gagal Bubut]
    <% end %>
		<br />
		Kuantitas: <b><%= object.quantity_sent %></b> <br />
		Berat		: <b><%= object.quantity_sent_weight.to_s %></b> kg
		
		
	</td>
	 
  
	
	
	<% if not parent.is_confirmed? %>
		<td>
			<%= link_to delete_delivery_entry_url, :class =>"delete_entry", 
				:style => "cursor:pointer; text-decoration:none;" do %>
				<i class='icon-remove'></i>Delete
			<% end %> 
		</td>

		<td>
			<% edit_url = '' %>
			<% if object. normal_delivery_entry?  %>
				<% edit_url  = edit_delivery_delivery_entry_url(parent, object) %>
			<% else %>
				<% edit_url  = edit_special_delivery_entry_url(object) %>
			<% end %>
			
			
			<%= link_to edit_url , 
				:class =>"edit_entry modal-toggler", :style => "cursor:pointer; text-decoration:none;" do %>
				<i class='icon-edit'></i>Edit
			<% end %>
		</td>
	<% elsif parent.is_confirmed  and not parent.is_finalized? %>
	
		<td>
			Terkirim: <b><%= object.quantity_confirmed %></b> 
			<hr />
			
			Retur:	<b><%= object.quantity_returned %></b><br />
			Berat: <b><%= object.quantity_returned_weight %></b>
			<hr />
			Hilang: 	<b><%= object.quantity_lost %></b>
		</td>

		<td>
			<%= link_to edit_post_delivery_delivery_entry_url(  object), 
				:class =>"edit_entry modal-toggler", :style => "cursor:pointer; text-decoration:none;" do %>
				<i class='icon-edit'></i> Isi Hasil Pengiriman
			<% end %>
		</td>
		
	<% elsif  parent.is_confirmed? and parent.is_finalized? %>
		<td>
			Terkirim: <b><%= object.quantity_confirmed %></b> 
			<hr />
			
			Retur:	<b><%= object.quantity_returned %></b><br />
			Berat: <b><%= object.quantity_returned_weight %></b>
			<hr />
			Hilang: 	<b><%= object.quantity_lost %></b>
		</td>
	<% end %>
	
</tr>